### Q2. Write a program that takes two numbers as input and checks whether the first number is divisible by the second number.

In [1]:
x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
if(x%y==0):
    print(f"{x} is divisble by {y}")
else:
     print(f"{x} is not divisble by {y}")

10 is divisble by 2

### Q3. Write a program to print the first five odd numbers.

In [5]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

### Q4. Create a list of numbers and write a program to find the sum of all elements in the list.

In [20]:
li=[1,2,3,4]
sum=0
for i in li:
    sum+=i

print(sum)

10

### Q5. Write a program that takes a year as input and prints whether it's a leap year.
    Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 are not leap years, but the years 1600 and 2000 are.

In [34]:
x=int(input("Enter a year: "))
if(x%4==0 and x%100==0 and x%400==0):
    print("Leap year")
else:
    print("Not Leap year")

Leap year

### Q6. Write a program that takes a string as input and prints it in both uppercase and lowercase.

In [35]:
st=input("Enter string: ")
print(st.lower())
print(st.upper())

george
GEORGE

### Q7. Create a list of five elements and remove the third element.

In [36]:
l=[1,2,3,4,5]
l.pop(2)
l

[1, 2, 4, 5]

### Q9. Create a list of numbers and write a program to sort it in ascending order.

In [39]:
num=[2,3,1,4,5,9,7]
sorteds=sorted(num)
sorteds

[1, 2, 3, 4, 5, 7, 9]

### Q10. Write a program to print the multiplication table of a given number.

In [45]:
x=int(input("Enter number: "))
for i in range(0,50,x):
    print(i)

0
5
10
15
20
25
30
35
40
45

### Q11. Write a Python function square(num) that takes a number as input and returns its square.

In [47]:
def square(num):
    print (num*num)

x=int(input("Enter a number: "))
square(x)

64

### Q12. Write a Python function sum_of_digits(number) that takes an integer as input and returns the sum of its digits.

In [53]:
def sum_of_digits(number):
    x1=int(number[0])
    x2=int(number[1])
    x3=int(number[2])
    total=x1+x2+x3
    print(f"The total sum of the digits of the {number} is {total}")

x=input("Enter a number")
sum_of_digits(x)

The total sum of the digits of the 321 is 6

### Q13. Write a Python function reverse_string(s) that takes a string as input and returns the string in reverse order.

In [56]:
def reverse_string(s):
    return s[::-1]

str=input("Enter a string to be reversed: ")
reversed=reverse_string(str)
print(reversed)

dogs

### Q14. Write a Python function word_count(sentence) that takes a sentence as input and returns the number of words in the sentence.

In [67]:
def word_count(sentence):
    count = sentence.split()
    return len(count)

x=input("Enter a sentence: ")
co=word_count(x)
print(f"The word count of this sentence '{x}' is {co}")

The word count of this sentence 'sda sdas' is 2

### Q15. Write a Python function remove_elements(lst, n) that takes a list and an index n as input and removes the element at index n from the list.

In [80]:
def remove_elemets(lst,n):
    lst.pop(n)
    return lst
     

lst=input("Enter list")
lst=lst.split()
lst=list(lst)
x=int(input("Enter index to be deleted: "))
wil=remove_elemets(lst,x)
print(wil)

['1', '3', '4']

### Q16. Write a Python function duplicate_list(lst) that takes a list as input and returns a new list that duplicates the elements of the original list.

In [82]:
def duplicate_list(lst):
    print(lst+lst)

lst=input("Enter list")
lst=lst.split()
lst=list(lst)
duplicate_list(lst)

['1', '2', '3', '4', '1', '2', '3', '4']

### Q17. Write a Python function is_divisible(num1, num2) that takes two numbers as input and returns True if the first number is divisible by the second number, and False otherwise.

In [86]:
def is_divisible(x,y):

    if(x%y==0):
        print("True")
    else:
        print("False")

x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
is_divisible(x,y)

True

### Q18. Write a Python function power(base, exponent) that takes a base and an exponent as input and returns the result of the base raised to the exponent.

In [100]:
def power(base, exponent):
    return base**exponent

x=int(input("Enter base number: "))
y=int(input("Enter exponent number: "))
ws= power(x,y)
print(f"{x} raised to the power of {y} is {ws}")

2 raised to the power of 3 is 8

In [98]:
#Another solution
def power(base, exponent):
    result=1
    for i in range(exponent):
        result*=base
    return result       


x=int(input("Enter base number: "))
y=int(input("Enter exponent number: "))
ws= power(x,y)
print(f"{x} raised to the power of {y} is {ws}")

2 raised to the power of 3 is 8

### Q19. Write a program which will find all such numbers which are divisible by 7 but are not divisible by 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [101]:
def find_nmbr():
    numbers=[]
    for num in range(2000,3001):
        if num%7==0 and num%5!=0:
            numbers.append(num)
    return numbers

result=find_nmbr()
print(result)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996]

### 20. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.
    5 8
    Then, the output should be:
    120,40320

In [103]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

numbers = [5, 8]
results = [factorial(num) for num in numbers]
print(results)

[120, 40320]

### 21. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [105]:
def generate_squared_dict(n):
    squared_dict = {}
    for i in range(1, n + 1):
        squared_dict[i] = i * i
    return squared_dict


n = 8
result_dict = generate_squared_dict(n)
print(result_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### 22. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['34', '67', '55', '33', '12', '98']
    ('34', '67', '55', '33', '12', '98')

In [12]:
 
x=input("Enter sequence of number")

num_list = x.split(',')


num_tuple = tuple(num_list)

print(num_list)
print(num_tuple)

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

### 23. Write a program that calculates and prints the value according to the given formula:
    Q = Square root of [(2 * C * D) / H], 
        C is 50. H is 30.
        D is the variable whose values should be input to your program in a comma-separated sequence.

- Example
    - Let us assume the following comma separated input sequence is given to the program:
        100,150,180
    - The output of the program should be:
        18,22,24

In [18]:
import math

C = 50
H = 30
input_sequence = input("Enter a sequence of comma-separated values for D: ")
D_values = input_sequence.split(',')
Q_values = []
for D in D_values:
    D = int(D)
    Q = math.sqrt((2 * C * D) / H)
    Q_values.append(int(Q))
output = ",".join([str(Q) for Q in Q_values])
print("Output:", output)

Output: 18,22,24

### 24. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
    Example
        Suppose the following inputs are given to the program:
        3,5
        Then, the output of the program should be:
        [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [29]:
x=input("input the vertics")
xlist=x.split(',')
X=int(xlist[0])
Y=int(xlist[1])

array=[]

for i in range(X):   
    row=[]
    for j in range(Y):
        row.append(i*j)
    array.append(row)

print(array)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### 25. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world

In [34]:
x=input("Enter")
words=x.split()
unique=set(words)
sort=sorted(unique)
print(" ".join(sort))

again and hello makes perfect practice world

### 26.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

    Example:
    0100,0011,1010,1001
    Then the output should be:
    1010

In [37]:
x=input("enter")
word=x.split(",")
array=[]

for binary in word:
    decimal=int(binary,2)
    if decimal % 5==0:
        array.append(binary)


print(",".join(array))

1010

### 27. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
def find():
    evend = []
    for number in range(1000, 3001):
        str_num = str(number)
        if all(int(digit) % 2 == 0 for digit in str_num):
            evend.append(str_num)
    return ','.join(evend)


print(find())

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### 28. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:

    "hello world 123"
    Then, the output should be:
        LETTERS 10
        DIGITS 3

In [3]:
def count(sentence):
    letters = sum(c.isalpha() for c in sentence)
    digits = sum(c.isdigit() for c in sentence)
    return letters, digits


sentence = input("Enter a sentence: ")
letters, digits = count(sentence)
print(f"LETTERS {letters}")
print(f"DIGITS {digits}")

LETTERS 10
DIGITS 3

### 29. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program:

    Hello World
    Then, the output should be:
        UPPER CASE 2
        LOWER CASE 8

In [6]:
def countss(sentence):
    upper= sum(c.isupper() for c in sentence)
    lower =sum(c.islower() for c in sentence)
    return upper, lower
sentence = input("Input sentence")
upper, lower= countss(sentence)
print(f"UPPER CASE {upper}")
print(f"LOWER CASE {lower}")

UPPER CASE 2
LOWER CASE 8

### 30. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program:
    1,2,3,4,5,6,7,8,9
    Then, the output should be:
    1,9,25,49,81

In [22]:

input_numbers = input("Enter a sequence").split(',')


result = [str(int(num) ** 2) for num in input_numbers if int(num) % 2 != 0]

print(','.join(result))

1,9,25,49,81

### 31. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
    1: Sort based on name;
    2: Then sort based on age;
    3: Then sort by score.
    The priority is that name > age > score.

    If the following tuples are given as input to the program:
        Tom,19,80
        John,20,90
        Jony,17,91
        Jony,17,93
        Json,21,85
    Then, the output of the program should be:
    [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [ ]:

input_data = [
    "Tom,19,80",
    "John,20,90",
    "Jony,17,91",
    "Jony,17,93",
    "Json,21,85"
]
tuples_list = [tuple(item.split(',')) for item in input_data]
sorted_list = sorted(tuples_list, key=lambda x: (x[0], int(x[1]), int(x[2])))
print(sorted_list)

### 32. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [24]:
def isEven(number):
    if number % 2 == 0:
        print("It is an even number")
    else:
        print("It is an odd number")

num = int(input("Enter an integer: "))
isEven(num)

It is an even number

### 33.The Fibonacci Sequence is computed based on the following formula:
    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1

- Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

- Example:

    If the following n is given as input to the program:
    7
    Then, the output of the program should be:
    0,1,1,2,3,5,8

In [28]:

n = int(input("Enter a number: "))


fib_sequence = [0, 1]
[fib_sequence.append(fib_sequence[-1] + fib_sequence[-2]) for _ in range(2, n)]

print(','.join(str(num) for num in fib_sequence[:n]))

0,1,1,2,3,5,8

### 47. Create a tuple with three elements and unpack it into three variables.

In [33]:
tup=(1,2,3,)
a,b,c= tup
print(f"a = {a}, b = {b}, c = {c}")

a = 1, b = 2, c = 3

### 48. Create a dictionary representing a person with keys "name," "age," and "city."

In [20]:
dic={"name":["george","Hany"],"age":[20,21],"city":["Cairo","Heliopolis"]}

### 49. Access and print the value associated with the "age" key in the dictionary

In [21]:
dic["age"]

[20, 21]

### 50. Update the age in the dictionary to a new value.

In [22]:
dic["age"]=[19,20]
dic["age"]

[19, 20]

### 51. Iterate through the keys and values in the dictionary and print them.

In [23]:
for i,j in dic.items():
    print(f"Key: {i}, Value: {j}")

Key: name, Value: ['george', 'Hany']
Key: age, Value: [19, 20]
Key: city, Value: ['Cairo', 'Heliopolis']

### 52. Find and print the number of key-value pairs in the dictionary.

In [24]:
countdic = len(dic.items())
print(f"Number of key-value pairs: {countdic}")

Number of key-value pairs: 3

### 53. Remove the "city" key from the dictionary.

In [25]:
dic.pop('city')
dic

{'name': ['george', 'Hany'], 'age': [19, 20]}

### 54. Check if the "gender" key exists in the dictionary and print the result.

In [26]:

if 'gender' in dic:
    print("Key 'gender' exists")
else:
    print("Key 'gender' does not exist")

Key 'gender' does not exist

### 55. Create a second dictionary with additional information and merge it with the original dictionary.

In [27]:
dic1={"gender": "Male","height":190}
dic.update(dic1)
dic

{'name': ['george', 'Hany'], 'age': [19, 20], 'gender': 'Male', 'height': 190}

### 56. Write a program to get the keys of the dictionary as a list.

In [28]:
klist= list(dic.keys())
klist

['name', 'age', 'gender', 'height']

### 57. Write a program to get the values of the dictionary as a list.

In [29]:
vlist= list(dic.values())
vlist

[['george', 'Hany'], [19, 20], 'Male', 190]

### 58. Remove the key-value pair with the "name" key from the dictionary.

In [30]:
dic.pop("name")
dic

{'age': [19, 20], 'gender': 'Male', 'height': 190}

### 59. Clear all items from the dictionary.

In [31]:
del dic
dic

NameError: name 'dic' is not defined

### 60. Write a program to print the dictionary keys in sorted order.

In [32]:
mydict = {'name': 'George', 'age': 20, 'city': 'Egypt'}


sorted_s = sorted(mydict.keys())

### 61. Write a program to print the dictionary values in sorted order.

In [37]:
mydict = {'name': 'George', 'age': "20", 'city': 'Egypt'}
sorteds = sorted(mydict.values())

### 62. Find and print the key with the maximum value in the dictionary.

In [38]:
mydict = {'name': 'George', 'age': "20", 'city': 'Egypt'}
sorteds = max(mydict.values())
print(sorteds)

George

### 63. Find and print the key with the minimum value in the dictionary.

In [39]:
mydict = {'name': 'George', 'age': "20", 'city': 'Egypt'}
sorted_min = min(mydict.values())
print(sorted_min)

20

### 64. Use dictionary comprehension to create a dictionary with squares of numbers from 1 to 5.

In [44]:
for num in range(1, 6):
    squares_dict=num**2
    print(squares_dict)

1
4
9
16
25

### 65. Swap the keys and values in the dictionary and print the result.

In [45]:
original_dict = {'a': 1, 'b': 2, 'c': 3}

swapped_dict = {}


for key, value in original_dict.items():
    swapped_dict[value] = key  

print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}

### 66. Create a list of integers with values 1 to 5.

In [46]:
lis=[1,2,3,4,5]

### 67. Access and print the third element of the list.

In [47]:
lis[2]

3

### 68. Modify the second element of the list to have a new value.

In [48]:
lis[1]=7

### 69. Find and print the number of elements in the list.

In [49]:
len(lis)

5

### 70. Add a new element to the end of the list.

In [50]:
app=10
lis.append(app)
lis

[1, 7, 3, 4, 5, 10]

### 71. Create two lists and concatenate them into a new list.

In [52]:
lis1=[1,2,3]
lis2=[4,5,6]
lis3=lis1+lis2
lis3

[1, 2, 3, 4, 5, 6]

### 72. Repeat the list three times and print the result.

In [53]:
lis1=[1,2,3]
lis10=lis1*3
lis10

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 73. Create a list of numbers from 1 to 10 and print only the elements from index 3 to 7.

In [69]:
list=[1,2,3,4,5,6,7,8,9,10]
list[3:8]

[4, 5, 6, 7, 8]

### 74. Use a loop to print each element of the list.

In [70]:
for i in list:
    print(i)

1
2
3
4
5
6
7
8
9
10

### 75. Write a program to sort the list in ascending order.

In [71]:
list=[7,2,1,3,4,5,6,0]
list=sorted(list)
list

[0, 1, 2, 3, 4, 5, 6, 7]

### 76. Reverse the order of elements in the list.

In [72]:
new=list[::-1]
new

[7, 6, 5, 4, 3, 2, 1, 0]

### 77. Remove the third element from the list.

In [73]:
removed_item=list.pop(2)
print(removed_item)
print(list)

2
[0, 1, 3, 4, 5, 6, 7]

### 78. Clear all elements from the list.

In [75]:
list.clear()
list

[]

### 79. Use list comprehension to create a list of squares of numbers from 1 to 5.

In [76]:

squares_list = []
for x in range(1, 6):
    squares_list.append(x**2)

print(squares_list)

[1, 4, 9, 16, 25]

### 80. Create a list with three elements and unpack it into three variables.

In [79]:
list=[1,2,3]
a,b,c= list
print(f"a = {a}, b = {b}, c = {c}")

a = 1, b = 2, c = 3